// Your variable overrides can go here, e.g.:
// $h1-font-size: 3rem;

@import "bootswatch/dist/morph/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/morph/bootswatch";

// -----------------

@mixin base-box {
  margin: 0 auto;
  padding: 0.25rem;
  
}

@mixin border1 {
  border: 1px solid red;
}

* {
  box-sizing: border-box;
  font-family: 'Cera Round Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  // font-size: 20px;
  font-weight: 500;
}

.container {
  @include base-box;
  // border: 1px solid skyblue;
}

.row {
  @include base-box;
  // border: 1px solid green;
}

.col {
  @include base-box;
  // border: 1px solid red;
}

.box1 {
  @include border1();
  @include base-box();
  margin-bottom: 0.25rem;
  background-color: white;
  width: auto;
}

.border1 {
  border: 1px solid red;
}

// widths
.w-auto {
  width: auto;
}

.w-fit {
width: fit-content;
}

 // shadow
.shadow1 {
  @include shadow();
}